/* Header */

.site-header {
    padding-top: 20px;
	
	.logo {
		margin: 0 auto;
		display: table;
		
		h1{
			padding-bottom:0;
		}
	}
	.site-description {
		text-align: center;
	}
}

/* Footer */

.site-footer {
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid #eee;
}

